h1 {
    color: rgb(194,215,235);
    font-size: 25px;  
    padding-left: 10px;
    padding-top: 18px;
}
h6 {
    font-size: 10px;
    color: rgb(179,209,229);
    margin: 0px;
    text-align: left;
    padding: 12px;
}
p {
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.navbar ul {
    margin-top: 0px;
    padding-left: 30px;
}
li {
    font-size: 10px;
}
a {
    color:rgb(99,214,228);
    font-size: 12px;
    padding:0px;
    margin: 0px;
}
.wrapper {
    background-color: rgb(28,52,93);
    width: 970px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
}
.titlebar {
    background-color: rgb(207,47,54);
    vertical-align: top;
    width: 968px;
    height: 60px;
    border-radius: 15px;
    text-align: left;
    margin-top: 2px;
}
.navbar {
    vertical-align: top;
    background-color: rgb(40,125,140);
    display: inline-block;
    width: 170px;
    height: 200px;
    margin-top: 12px;
    margin-left: 0px;
    border-radius: 15px;
}
.contentsect{
    vertical-align: top;
    background-color: rgb(14,24,35);
    width: 773px;
    height: 445px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 15px;
}
.contentsect h2 {
    color: rgb(194,215,235);
    margin: 20px 0px 10px 15px;
}
.contentsect p {
    color: rgb(194,215,235);
}
.contentsect ul {
    color: rgb(194,215,235);
}
.contentsect li {
    font-size: 15px;
    padding:5px;
}
.contentsect span {
    color:rgb(118,128,230);
}
.footer {
    background-color: rgb(93,102,115);
    width: 970px;
    height: 40px;
    border-radius: 15px;
    text-align: left;
    margin-top: 2px;
}